.main-header {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.main-header .logo {
  font-size: var(--text-lg);
  font-family: var(--space-grotesk);
  font-weight: 700;
  transition: opacity 0.3s;
}

.main-header .logo:hover {
  opacity: var(--opacity);
}

/* TRANSLATE */
.main-header .translate {
  font-family: var(--inter);
  position: relative;
}

.main-header .translate button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
  border-radius: var(--rounded-full);
  font-size: var(--text-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.main-header .translate button span {
  margin-left: 0.25rem;
  margin-right: 0.5rem;
}

.main-header .translate button:focus .arrow {
  transform: rotate(180deg);
}

.main-header .translate .options {
  padding: 0.5rem 1rem;
  border: 1px solid var(--black);
  border-radius: var(--rounded-full);
  font-size: var(--text-sm);
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  right: 0;
  display: none;
}

.main-header .translate .options a {
  transition: opacity 0.3s;
}

.main-header .translate .options a:hover {
  opacity: var(--opacity);
}

.main-header .translate:focus-within .options {
  display: block;
}
