.presentation {
  max-width: 40rem;
  margin: 5rem 0;
}

.presentation:lang(pt-br) {
  max-width: 45rem;
}

.presentation h1 {
  margin-bottom: 1rem;
  font-size: var(--text-3xl);
  font-family: var(--space-grotesk);
  line-height: 1.15;
}

.presentation p {
  font-family: var(--inter);
  line-height: 1.5;
}

.presentation > a {
  padding: 0.75rem 2rem;
  margin-top: 3rem;
  border-radius: var(--rounded-full);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--text-md);
  font-family: var(--space-grotesk);
  font-weight: 500;
  transition: opacity 0.3s;
  display: inline-block;
}

.presentation > a:hover {
  opacity: var(--opacity);
}

@media (min-width: 640px) {
  .presentation {
    margin: 10rem 0;
  }

  .presentation h1 {
    font-size: var(--text-4xl);
  }

  .presentation p {
    font-size: var(--text-md);
  }
}
