:root {
  /* WRAPPER WIDTH */
  --wrapper-width: 80rem; /* 1280px */
  --wrapper-padding: 0.5rem; /* 8px */

  /* COLORS */
  --white: #ffffff;
  --black: #000000;

  /* FONT FAMILY */
  --space-grotesk: "Space Grotesk", sans-serif;
  --inter: "Inter", sans-serif;

  /* FONT SIZE */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-md: 1.125rem; /* 18px */
  --text-lg: 1.25rem; /* 20px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 3rem; /* 48px */
  --text-4xl: 4rem; /* 64px */
  --text-5xl: 5rem; /* 80px */

  /* BORDER RADIUS */
  --rounded-xs: 0.25rem; /* 4px */
  --rounded-sm: 0.5rem; /* 8px */
  --rounded-md: 1rem; /* 16px */
  --rounded-lg: 1.5rem; /* 24px */
  --rounded-xl: 2rem; /* 32px */
  --rounded-full: 9999px;

  /* EFFECTS */
  --opacity: 0.65;
}
