---
import { getLangFromUrl } from "@/locales/utils.ts";
import locales from "@/locales/components/under-construction.ts";

const lang = getLangFromUrl(Astro.url.pathname);
const content = locales[lang];
---

<section class="py-2 overflow-hidden bg-black">
  <div
    class="flex items-center animate-[infinite-scroll_10s_linear_infinite] lg:animate-[infinite-scroll_20s_linear_infinite]"
  >
    {
      Array.from({ length: 6 }).map(() => (
        <span class="text-white text-sm font-space-grotesk font-semibold text-center uppercase whitespace-nowrap shrink-0 basis-1/2 sm:basis-1/3">
          {content.label}
        </span>
      ))
    }
  </div>
</section>
