---
import type { Languages } from "@/locales/utils.ts";

interface Props {
  title?: string;
  language?: Languages;
}

const { title = "Tiago Castro | Web Developer", language = "en" } = Astro.props;
---

<html lang={language}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- SPACE GROTESK -->
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- INTER -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>

  <body>
    <slot />
  </body>
</html>
